@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-3">
        <h2>Pizza 1</h2>
        <img src="~/Content/img/pizza1.jpg" width="250" height="150" />
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Купить &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Pizza 2</h2>
        <img src="~/Content/img/pizza2.jpg" width="250" height="150" />
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Купить &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Pizza 3</h2>
        <img src="~/Content/img/pizza3.jpg" width="250" height="150" />
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Купить &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Pizza 4</h2>
        <img src="~/Content/img/pizza4.jpg" width="250" height="150" />
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Купить &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <h2>Pizza 5</h2>
        <img src="~/Content/img/pizza1.jpg" width="250" height="150" />
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Купить &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Pizza 6</h2>
        <img src="~/Content/img/pizza2.jpg" width="250" height="150" />
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Купить &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Pizza 7</h2>
        <img src="~/Content/img/pizza3.jpg" width="250" height="150" />
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Купить &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Pizza 8</h2>
        <img src="~/Content/img/pizza4.jpg" width="250" height="150" />
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Купить &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <ul class="pagination">
            <li><a href="#">«</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">»</a></li>
        </ul>
    </div>
</div>
